###  Input and output methods  
- Reading the data or information from the user----***input()***  
    - Static input  
    - Dynamical input 
- Diplaying the information or data to the user----***print()***

In [1]:
a=20  
b=30  
print(a)  
print(b)

20
30

In [1]:
a=input("enter user value")  
a

enter user value567

'567'

In [2]:
a=input()  
a

dhana

'dhana'

In [3]:
a=float(input("enter user value"))  
a

enter user value567

567.0

In [4]:
a=complex(input("enter user value"))  
a

enter user value567

(567+0j)

In [5]:
a=input("enter value")  
print(a)

enter valuedhana
dhana

In [1]:
a=input("enter value")  
print(a)

enter value567
567

In [4]:
b=30  
a=20  
c=50  
print(a,b,c,sep=",",end="\n")  
print(c)

20,30,50
50

In [9]:
a=30  
b=20  
c=50  
print(a,b,c,sep=",")

30,20,50

In [10]:
a=30  
b=20  
c=50  
print(a,b,c,sep=",",end="\n") 
print(c)

30,20,50
50

In [11]:
a=30  
b=20  
c=50  
print(a,b,c,sep=",",end="%")

30,20,50%

In [6]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## generate the three values from the user,  
## that values seperated with $  
    # and end with %

In [12]:
a=input("enter 1st value")  
b=input("enter 2nd value")  
c=input("enter 3rd value")  
print(a,b,c,sep="$",end="%")

enter 1st value20
enter 2nd value30
enter 3rd value40
20$30$40%

### operators  
- arithmatic operator(+,-,*,**,/,//,%)  
    - output for the normal division is quotient  
    - output for the division or floor division is integer part of the quotient  
    - output for the modulo division is remainder  
- assignment operators(=)  
- comparision operators(<,>,<=,>=,==)  
- logical operators(and,or,not)  
- bitwise operators(&,|,^)  
- identity operators(is(==),isnot(!=)  
- memebership operators(in,notin)

###  arithmatic operators

In [14]:
a=8  
b=2
print("addition",a+b)  
print("subtraction",a-b)  
print("multiplication",a*b)  
print("power",a**b)  
print("division",a/b)  
print("int division or floor divisio",a//b)  
print("modulo division",a%b)

addition 10
subtraction 6
multiplication 16
power 64
division 4.0
int division or floor divisio 4
modulo division 0

### Assignment operator  
- it repesents with =  
- leftside of the operator(=) is called as a variable  
- right side of operator(=)is called as a value

In [15]:
a=20  
b=30  
print(a)  
print(b)

20
30

## comparasion operator

In [16]:
2>5

False

In [17]:
2<6

True

In [19]:
if 2>9 and 2<=6:
    print("print true or false") 
else:
        print("dhana")

dhana

In [20]:
2>=7

False

In [21]:
3<=5

True

## Logical operators
- and(if all the inputs are the output is true)
- or(if any of the input is the output is true)
- not(opposite operation for the given one)

In [22]:
2<5 and 3>6

False

In [23]:
2>5 and 3<6

False

In [24]:
3<9 and 4>0

True

In [25]:
4<8 or 5>2

True

In [26]:
5>9 or 8<3

False

In [27]:
a=100  
not a

False

## Bitwise operators

In [43]:
 2 & 3  
# 2- 0 0 1 0
# 3- 0 0 1 1
# -------
# - 0 0 1 0

2

In [29]:
3|4

7

In [33]:
2^3

1

In [34]:
2>>3

0

In [35]:
2<<3

16

## Identity operators

In [36]:
a is 100 and a is not 100

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-36-02b6336e53df>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 100 and a is not 100
<ipython-input-36-02b6336e53df>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is 100 and a is not 100

False

In [37]:
a==100 and a!=100

False

## Membership operators

In [39]:
s=[1,2,4,6,8,9]  
4 in s

True

In [40]:
10 not in s

True

In [42]:
2 not in s

False

In [44]:
a=20  
a=a+1  
a

21

In [49]:
a=45  
# a+=1----->a=a+1   
# a-=1----->a=a-1
# a*=1----->a=a*1
# a/=1----->a=a/1

In [51]:
a=45
a=a+1
a

46

In [52]:
a=45
a=a-1
a

44

In [53]:
a=45
a=a*1
a

45

In [54]:
a=45
a=a/1
a

45.0

## Flow control
- conditional statements(if,else,elseif,nestedif)
- loops(for,while)
- break,return

In [ ]:
# c-language
if(condition){
    print(a)
}

## Conditional statements

In [ ]:
# if
if(condition):
    statement1
    statement2
    statement3
    ----------
    statementn

In [ ]:
# if-else
if(condition):
    statement1
    statement2
    statement3
    ----------
    statementn
else:
    statement1
    statement2
    statement3
    ----------
    statementn

In [ ]:
if 2>3:
    print("true")
    print("false")

In [55]:
if 2>3:
    print("true")
else:
    print("false")

false

In [57]:
# given number is even or odd
n=int(input("enter the number"))
if(n%2==0):
    print("even number")
else:
    print("odd number")

enter the number35
odd number

In [63]:
# given number is zero or positive or negative
n=int(input("enter the number"))
if(n==0):
    print("zero number")
elif(n>0):
    print("positive number")
else:
    print("zero number")

enter the number5
positive number

In [67]:
# number is divisible by 2 but not 10
n=int(input("enter the number"))
if((n%2==0) and (n%10!=0)):
    print("valid number")
else:
    print("unvalid number")

enter the number14
valid number

## Range
- syntax for range is range(start,endvalue,step value)
- starting value is inclusive and end value is exclusive

In [ ]:
range(start,end,step)

In [ ]:
range(10,20,1)
# 10,11,12,13,14,15,16,17,18,19
range(20,30,2)
# 20,22,24,26,28
range(20,41,5)
# 20,25,30,35,40
range(10)
# consider as end value
range(20,30)
# consider start value and end value
# reverse print
range(10,1,-1)

In [68]:
list(range(10,20,1))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [69]:
list(range(20,30,2))

[20, 22, 24, 26, 28]

In [70]:
list(range(20,41,5))

[20, 25, 30, 35, 40]

In [71]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
list(range(20,30))

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [73]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]