In [ ]:
## While
- it executes block or set of instructions untill the condition is false
- while we dont the range
- executes the faster than the for loop
- user incrementation

In [ ]:
# while stntax
initilization
while condition:
    statements
    increment/decrement

In [1]:
n=1
while n<=5:
    print("vasavi college")
    n=n+1

vasavi college
vasavi college
vasavi college
vasavi college
vasavi college

In [2]:
n=10
while n>=1:
    print(n,end=" ")
    n=n-1

10 9 8 7 6 5 4 3 2 1

In [4]:
# i/p 1234
# o/p digit count:4
s=int(input())
c=0
while (s!=0): #1234!=0 123!=0 12!=0 1!=0
    c=c+1 # 1234%10 123%10 12%10
    s=s//10
print("\ndigit count:",c)

1234

digit count: 4

In [4]:
# check the given string is palindrome or not
# 121--121
# mom--mom
n=int(input())
temp=n
rev=0
while (n!=0):
    rem=n%10
    rev=rev*10+rem
    n=n//10
    
if(temp==rev):
    print("the given string is pallindrome")
else:
    print("the given string is not pallindrome")

121
the given string is pallindrome

In [ ]:
# syntax::nested for loop
for iter in range(start,end,step):
    for iter in range(start,end,step):
        statement1
        statement2
        ----------
        statementn

In [ ]:
# Matrix format
- rows,columns
- 2dimensions
    1 2 3
    1 2 3 
    1 2 3

In [5]:
# print matrix
for row in range(1,5):
    for column in range(1,5):
        print(row,end=" ")
    print()# new line

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [10]:
for row in range(1,6):
    for column in range(1,9):
        print("*",end=" ")
    print()

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

In [20]:
for row in range(1,7):
    for column in range (1,row+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [19]:
for row in range(6,0,-1):
    for column in range(1,row+1):
        print("*",end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [49]:
# 1-10 prime numbers
st=int(input())
end=int(input())
for num in range(st,end+1):
    c=0
    for var in range(1,num+1):
        if num%var==0:
            c+=1
    if c==2:
        print(num,end=" ")

1
10
2 3 5 7

In [ ]:
# syntax
initilization
while condition:
    statements
    incr/decr
    while condition:
        statements
        incr/decr

In [2]:
# 1 to 10 tables by using nested while loop
i=1
while i<=10:
    j=1
    while j<=10:
        print(i,"*",j,"=",i*j)
        j+=1
    print()    
    i+=1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [3]:
# print 1 to 10 tables by usin nested for loop
for i in range(1,11):
    for j in range(1,11):
        print(i,"*","=",i*j)
        j+=1
    print()
    i+=1

1 * = 1
1 * = 2
1 * = 3
1 * = 4
1 * = 5
1 * = 6
1 * = 7
1 * = 8
1 * = 9
1 * = 10

2 * = 2
2 * = 4
2 * = 6
2 * = 8
2 * = 10
2 * = 12
2 * = 14
2 * = 16
2 * = 18
2 * = 20

3 * = 3
3 * = 6
3 * = 9
3 * = 12
3 * = 15
3 * = 18
3 * = 21
3 * = 24
3 * = 27
3 * = 30

4 * = 4
4 * = 8
4 * = 12
4 * = 16
4 * = 20
4 * = 24
4 * = 28
4 * = 32
4 * = 36
4 * = 40

5 * = 5
5 * = 10
5 * = 15
5 * = 20
5 * = 25
5 * = 30
5 * = 35
5 * = 40
5 * = 45
5 * = 50

6 * = 6
6 * = 12
6 * = 18
6 * = 24
6 * = 30
6 * = 36
6 * = 42
6 * = 48
6 * = 54
6 * = 60

7 * = 7
7 * = 14
7 * = 21
7 * = 28
7 * = 35
7 * = 42
7 * = 49
7 * = 56
7 * = 63
7 * = 70

8 * = 8
8 * = 16
8 * = 24
8 * = 32
8 * = 40
8 * = 48
8 * = 56
8 * = 64
8 * = 72
8 * = 80

9 * = 9
9 * = 18
9 * = 27
9 * = 36
9 * = 45
9 * = 54
9 * = 63
9 * = 72
9 * = 81
9 * = 90

10 * = 10
10 * = 20
10 * = 30
10 * = 40
10 * = 50
10 * = 60
10 * = 70
10 * = 80
10 * = 90
10 * = 100

## Jumping statements
- we called as unconditional jumps
    - break
    - continue
    - pass

### Break
- Terminates the current loop statements
- Break is a keyword

In [4]:
for i in "python":
    if i=='h':
        break
    print(i)

p
y
t

In [1]:
for n in range(1,11):
    if n==6:
        break
    print(n)

1
2
3
4
5

In [5]:
i=0
while i<=10:
    i+=1
    if i==6:
        break
    print(i)

1
2
3
4
5

### Continue
- it skips only current iteration and continue the next iteration
- continue is also a keyword

In [8]:
for i in range(10):
    if i==6:
        continue
    print(i)

0
1
2
3
4
5
7
8
9

In [2]:
# print odd number using even number condition using continue statement
for i in range(10):
    if(i%2==0):
        continue
    print(i)

1
3
5
7
9

 ### Pass statements
 - It is a keyword 
 - when we need condition scientifically correct need to change another operation
 - it is a null operation
 - pass statement we use to create empty classes also

In [4]:
s="python"
for i in s:  
    if i=='h':
        pass
        print("pass executed")
    print(i)

p
y
t
pass executed
h
o
n

## String
- string is group of charcters
- string is a derived datatype and immutable
- all strings return a new values

In [13]:
a="vasavicollege"
print(type(a))

<class 'str'>

In [14]:
print(len(a))

13

In [15]:
print(min(a))
print(max(a))
print(sorted(a))

a
v
['a', 'a', 'c', 'e', 'e', 'g', 'i', 'l', 'l', 'o', 's', 'v', 'v']

In [11]:
s="python"
s1="workshop"
print(s+s1)
print(s,s1)
print(s*s1)

pythonworkshop
python workshop

TypeError: can't multiply sequence by non-int of type 'str'

In [23]:
# slicing syntax::(start:end:step)
# positive indexing(left to right)
# negative indexing(right to left)
s="python workshop"
print(len(s))
print(s[0])
print(s[5])
print(s[14])
print(s[-1])
print(s[-2])
print(s[::])
print(s[::-1])
print(s[0:4])
print(s[5:12])
print(s[-1:-5])

15
p
n
p
p
o
python workshop
pohskrow nohtyp
pyth
n works

In [1]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [6]:
s='vasavi college'
s="vasavi college"
s1='''iam 
dhanalkshmi'''
s2="""engineering department
cst branch"""
print(s1)

iam
dhanalkshmi

In [4]:
print(len(s2))

33

In [7]:
print(s2)

engineering department
cst branch

In [9]:
p="apssdc workshop"
print(p.capitalize())

Apssdc workshop

In [12]:
n="DHanaLakshMI"
print(n)
print(n.upper())
print(n.lower())

DHanaLakshMI
DHANALAKSHMI
dhanalakshmi

In [13]:
m="faculty development program"
print(m)
print(m.title())

faculty development program
Faculty Development Program

In [19]:
s2="workshop"
s3="WORKSHOP"
s4="workshop"
print(s2.islower(),s3.isupper(),s4.isupper())

True True False

In [22]:
s7="India is my Country"
s7.istitle()

False

In [23]:
s8=" "
s8.isspace()

True

In [24]:
# isdigit-which is used to identify the digits in a given string
# isalpha-which returns true,alphabets present in a given string
r="python3"
r.isalpha()

False

In [26]:
r.isdigit()

False

In [27]:
s="347654"
s.isdigit()

True

In [28]:
s="347654"
s.isalnum()

True

In [30]:
s="python3 is latest version and today is friday i am listening python classes"
s.split()

['python3',
 'is',
 'latest',
 'version',
 'and',
 'today',
 'is',
 'friday',
 'i',
 'am',
 'listening',
 'python',
 'classes']

In [33]:
s="python3@is@latest@version@and@today@is@friday@i@am@listening@python@classes"
s.split('@')

['python3',
 'is',
 'latest',
 'version',
 'and',
 'today',
 'is',
 'friday',
 'i',
 'am',
 'listening',
 'python',
 'classes']

In [34]:
s="python3 is latest version and today is friday i am listening python classes"
s.split('t')

['py',
 'hon3 is la',
 'es',
 ' version and ',
 'oday is friday i am lis',
 'ening py',
 'hon classes']

In [35]:
s="DHanaLAkshMI"
s2=''
for i in s:
    if i.islower():
        s2 +=i.upper()
    else:
        s2 +=i.lower()
print(s2)

dhANAlaKSHmi

In [36]:
#swapcase
s.swapcase()

'dhANAlaKSHmi'

In [37]:
s="python3 is latest version and today is friday i am listening python classes"
s

'python3 is latest version and today is friday i am listening python classes'

In [38]:
# count::to know the number of occurences
s.count('a')

6

In [39]:
s.index('t') # searching starts from the beginning

2

In [40]:
s.rindex('t') # searching starts from the ending

63

In [42]:
# find--it will return index position of that character
s.find('t')

2

In [43]:
s.index('is')

8

In [44]:
# replace-used to replace the old character
# strip- used to remove white space by default
d="bye vasavi college"
d.replace('bye','hai')

'hai vasavi college'

In [49]:
d="     hello sdc      "
print(d)

     hello sdc

In [50]:
d.strip()

'hello sdc'

In [51]:
d.lstrip()

'hello sdc      '

In [52]:
d.rstrip()

'     hello sdc'

In [53]:
# join
# center
# startswith
# endswith
s="thursday"
'@'.join(s)

't@h@u@r@s@d@a@y'

In [56]:
s="thursday"
'.'.join(s)

't.h.u.r.s.d.a.y'

In [57]:
s.center(1)

'thursday'

In [58]:
s.zfill(10)

'00thursday'

In [62]:
s2="today is 3rd day of the python program"
len(s2)
s2.zfill(45)

'0000000today is 3rd day of the python program'

In [63]:
s2.startswith('to')

True

In [64]:
s2.endswith('day')

False

In [65]:
s2.endswith('ram')

True

## Data structures
- List
    - list is one of the data structure in python
    - list is mutable
    - repesented with []
    - slicing,indexing are same as the strings concepts
- Tuple
    - tuple represented with()
    - tuple is immutable
- Set    
    - set is represented with {}
- Dictionaries
- DT are two types:
    - Immutable
        - we can't change it once it declared.
        - ex:strings,tuple
    - Mutable
        - we can change at any time after its declaration.
        - ex:lis,dictionaries

In [68]:
li=[2,4,7,4,9,1]
li

[2, 4, 7, 4, 9, 1]

In [69]:
len(li)

6

In [70]:
print("length of the list",len(li))
print("max one of the list",max(li))
print("min of the list",min(li))

length of the list 6
max one of the list 9
min of the list 1

In [71]:
a=['apple',5,8,24.8]
b=[4,8,'today',4]

In [72]:
a + b #concatination

['apple', 5, 8, 24.8, 4, 8, 'today', 4]

In [73]:
b+a

[4, 8, 'today', 4, 'apple', 5, 8, 24.8]

In [74]:
#repetetion
a*3

['apple', 5, 8, 24.8, 'apple', 5, 8, 24.8, 'apple', 5, 8, 24.8]

In [75]:
(a+b)*2

['apple', 5, 8, 24.8, 4, 8, 'today', 4, 'apple', 5, 8, 24.8, 4, 8, 'today', 4]

In [76]:
'apple' in a

True

In [77]:
'today' not in a

True

In [79]:
'apple' not in a

False

In [83]:
names=['dhana','jyothi','valli','mahi','divya','snehaja']
names[0]

'dhana'

In [81]:
names[5]

'snehaja'

In [82]:
names[:3]

['dhana', 'jyothi', 'valli']

In [84]:
s='dhana'
s[0]

'd'

In [85]:
s[:3]

'dha'

In [86]:
s[0:3]

'dha'

In [87]:
s[2:5]

'ana'

In [88]:
s[2:]

'ana'

In [89]:
s[::]

'dhana'

In [90]:
li1=['vasavi','college','students','hostel']

In [91]:
li1[2:]

['students', 'hostel']

In [92]:
li1[:2]

['vasavi', 'college']

In [93]:
li1[2:5]

['students', 'hostel']