In [1]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [2]:
li=[2,6,9,20,'apple']
li1=['dhna','vasavi',56.8,76,9,66]
li2=[44,4,25,'abc']
print(li)
print(li1)
print(li2)

[2, 6, 9, 20, 'apple']
['dhna', 'vasavi', 56.8, 76, 9, 66]
[44, 4, 25, 'abc']

In [3]:
# append-we will add only sing value
# extend-we will add more than one value using extend
print(li)

[2, 6, 9, 20, 'apple']

In [5]:
li.append(55)
li

[2, 6, 9, 20, 'apple', 55, 55]

In [7]:
li.extend([1,2,3])
li

[2, 6, 9, 20, 'apple', 55, 55, 1, 2, 3]

In [8]:
li=[1,2,3,4,5,6,7,8,]
li.pop()
print(li)

[1, 2, 3, 4, 5, 6, 7]

In [10]:
li.reverse()
print(li)

[7, 6, 5, 4, 3, 2, 1]

In [11]:
li.sort()
print(li)

[1, 2, 3, 4, 5, 6, 7]

In [12]:
li=[2,1,6,3,4,7]
li.sort()
print(li)

[1, 2, 3, 4, 6, 7]

In [15]:
li=[1,2,3,4,5]
li.insert(3,'six')
li

[1, 2, 3, 'six', 4, 5]

In [16]:
# 0to10
# program
# print even number
# print odd number
# print result(total numbers(0to10)
even=[]
odd=[]
for i in range(0,11):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)
print(even+odd)

[0, 2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

In [20]:
# print max number in the list
li=[34,78,37,90,204,400,45,567]
max=0
for i in li:
    if i>=max:
        max=i
print("max number:",max)

max number: 567

## Tuple
- tuple repesented with()

In [21]:
t=(1,2,3,4)

In [22]:
print(type(t))

<class 'tuple'>

In [23]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [27]:
t.count(2)

1

In [25]:
t.index(2)

1

## Set
- set is represented with {}

In [29]:
s={1,2,5,68,9,60}
print(type(s))

<class 'set'>

In [30]:
li=[2,4,7,9,30]
t=(3,5,7,3,4)
s={3,6,80,20}
type(li)

list

In [31]:
type(t)

tuple

In [33]:
type(s)

set

In [34]:
print("length of list:",len(li))
print("length of tuple:",len(t))
print("lrngth of set:",len(s))

length of list: 5
length of tuple: 5
lrngth of set: 4

In [35]:
print(s)

{80, 3, 20, 6}

In [36]:
print(li)

[2, 4, 7, 9, 30]

In [37]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [47]:
s={'fox','cat','peacock','lion','dog'}
s

{'cat', 'dog', 'fox', 'lion', 'peacock'}

In [41]:
s.add('tiger')
s

{'cat', 'dog', 'fox', 'lion', 'peacock', 'tiger'}

In [43]:
# update-to add multiple elements at a time in a set
s.update((1,2,3,4))
print(s)

{1, 2, 3, 'tiger', 4, 'fox', 'cat', 'peacock', 'lion', 'dog'}

In [44]:
s.update([5,6,7,8])
print(s)

{1, 2, 3, 'tiger', 4, 5, 6, 'fox', 'cat', 7, 8, 'peacock', 'lion', 'dog'}

# deletion
    - clear()- to clear the all data
    - remove()-it is used to remove a particular value
    - discard()-it is also used to discard a particular value
    - pop- to delete random elements

In [4]:
s={'fox','cat','peacock','lion','dog'}
print(s)

{'dog', 'cat', 'peacock', 'lion', 'fox'}

In [5]:
s.remove(('cat'))
s

{'dog', 'fox', 'lion', 'peacock'}

In [6]:
s.discard('lion')
s

{'dog', 'fox', 'peacock'}

In [8]:
s.pop()
s

{'fox', 'peacock'}

In [10]:
s.clear()
s

set()

## set operations
- union:combination all elements from two sets
- Intersection:common elements from two set
- Difference:all the remaining elements from a set after removing common elements
- Symetric-Difference:uncommon elements from both sets

In [11]:
a={2,5,7,9,4,9,8}
b={4,7,9,3,1,10,5}
print(a)

{2, 4, 5, 7, 8, 9}

In [12]:
print(b)

{1, 3, 4, 5, 7, 9, 10}

In [13]:
print(a.union(b))

{1, 2, 3, 4, 5, 7, 8, 9, 10}

In [15]:
print(a.intersection(b))

{9, 4, 5, 7}

In [16]:
print(a.difference(b))

{8, 2}

In [18]:
print(b.difference(a))

{1, 10, 3}

In [20]:
print(a.symmetric_difference(b))

{1, 2, 3, 8, 10}

In [22]:
a={2,4,6,8}
a1=a.copy()
a1

{2, 4, 6, 8}

In [24]:
m={1,2,3,4,5,6}
n={3,6}
print(n.issubset(m))
print(m.issuperset(n))

True
True

In [26]:
l={4,5,6,7}
p={1,2,3}
l.isdisjoint(p)

True

In [30]:
p={10,20,30,40}
q={40,50,60,70}
print(p.difference_update(q))

None

In [32]:
print(p)
print(q)

{10, 20, 30}
{40, 50, 60, 70}

## Dictionaries
- Dictionary is a unordered coolection of items
- Each item of a dictionary has a key and value pair:::(key:valuie)
- Dictionary is mutable and changeble
- In python dictionary written in {}
- Keys are not allowed duplicate values
- Values are allowed to duplicate values
- Entire dictionary depending upon key
    - Keys are unique in nature
    - Keys can be written in any data type
- Value maybe similar to values,mentioned as any datatype
- Key and value together called as a item
- In dictionay indexing is not supported

In [33]:
d={}
print(type(d))

<class 'dict'>

In [35]:
d={34:45,68:90,56:34}# key can't mention duplication
d

{34: 45, 68: 90, 56: 34}

In [36]:
print(sum(d))
print(max(d))
print(min(d))
print(len(d))
print(sorted(d))

158
68
34
3
[34, 56, 68]

In [37]:
d[56]

34

In [39]:
d1={23:67,36:12,67:123,45:78,34:{34,78,90}}
print(d1)

{23: 67, 36: 12, 67: 123, 45: 78, 34: {34, 90, 78}}

In [40]:
d1[34]

{34, 78, 90}

In [41]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [42]:
d1.get(34)

{34, 78, 90}

In [43]:
d1.keys()

dict_keys([23, 36, 67, 45, 34])

In [44]:
d1.values()

dict_values([67, 12, 123, 78, {34, 90, 78}])

In [45]:
d1.items()

dict_items([(23, 67), (36, 12), (67, 123), (45, 78), (34, {34, 90, 78})])

In [46]:
d1['python']="workshop"
d1

{23: 67, 36: 12, 67: 123, 45: 78, 34: {34, 78, 90}, 'python': 'workshop'}

In [47]:
d1.pop(23)

67

In [48]:
print(d1)

{36: 12, 67: 123, 45: 78, 34: {34, 90, 78}, 'python': 'workshop'}

In [49]:
d1.popitem()

('python', 'workshop')

In [50]:
d1

{36: 12, 67: 123, 45: 78, 34: {34, 78, 90}}

In [51]:
d2=d1.copy()
print(d2)
print(d1)

{36: 12, 67: 123, 45: 78, 34: {34, 90, 78}}
{36: 12, 67: 123, 45: 78, 34: {34, 90, 78}}

In [54]:
d2.fromkeys("work")

{'w': None, 'o': None, 'r': None, 'k': None}

In [55]:
d2.fromkeys("pyth",42)

{'p': 42, 'y': 42, 't': 42, 'h': 42}

In [56]:
d2.update({'dhana':'jyothi'})
d2

{36: 12, 67: 123, 45: 78, 34: {34, 78, 90}, 'dhana': 'jyothi'}

In [61]:
d2.setdefault(36)

12

In [59]:
d2

{36: 12, 67: 123, 45: 78, 34: {34, 78, 90}, 'dhana': 'jyothi'}

In [63]:
d2.clear()
d2

{}

## Modles and packages
- module:module is nothing but .py file or no of files it contains functions
    - module is a single or multiple files that can be reuse your code
- package:collection modules
    - package is a directory of such modules 
    - it possible to put several modules in to a package 
- modules are two types:
    - Builtin module ex:math functions
    - User defined modules

In [1]:
import math

In [3]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [4]:
from math import factorial,pi,remainder

In [5]:
print(factorial(10))

3628800

In [6]:
print(pi)

3.141592653589793

In [8]:
print(remainder(10,2))

0.0

In [9]:
print(remainder(10,3))

1.0

In [10]:
from math import *

In [12]:
print(floor(23.5))

23

In [14]:
print(ceil(10.2))

11

In [18]:
print(sqrt(4))

2.0

In [19]:
print(cos(0))

1.0

In [20]:
print(sin(2))

0.9092974268256817

In [25]:
print(gcd(24,18))
# gcd(a,b)=(a*b)/LCM(a*b)

6

In [26]:
import random
dir(random)

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_Sequence',
 '_Set',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_accumulate',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_inst',
 '_log',
 '_os',
 '_pi',
 '_random',
 '_repeat',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

In [28]:
from random import *

In [32]:
print(randint(111,999))

396

In [33]:
print(random())# it gives the values in between

0.0005812828663305236

In [35]:
import random
random.randrange(0,100)

22

In [37]:
import calendar
print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [39]:
print(calendar.isleap(2022))

False

In [40]:
print(calendar.month(2022,4))

     April 2022
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

In [41]:
import calc

In [42]:
dir(calc)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'add',
 'div',
 'mul',
 'sub']

In [44]:
calc.add(30,40)

70

In [45]:
calc.sub(80,50)

30

In [46]:
calc.mul(20,3)

60

In [47]:
calc.div(90,30)

3.0

In [51]:
from calc import *

In [52]:
add(20,40)

60

In [53]:
sub(20,15)

5

In [54]:
mul(5,6)

30

In [55]:
div(10,5)

2.0

In [57]:
from calc import add as a

In [58]:
add(27,785)

812

In [1]:
import even

9
odd number

## Regular Expressions
- A Regular expression is a sequence of a characters that defines a search patterns 
- We have to built in module in python work to with regular expressions:represented "re"
- We have to import that module in to our python file by using 're'
- syntax::re.regex function('pattern'.'input')
- 3 methods
    - 1.findall()
        - it returns a list containing all matches or this module is used to search all occurances that match a given (find all the duplicates for a specified pattern)
    - 2.search()
        - to test the specified pattern in present or not in the given string 
    - 3.match()
        - the text the i/p string starts with specified pattern or not

In [3]:
import re
n='the rain in spain'
z=re.findall('ai',n)
print(z)

['ai', 'ai']

In [4]:
import re
n='the rain in spain'
z=re.findall('in',n)
print(z)

['in', 'in', 'in']

In [5]:
# search
re.search('p','pythonworkshop')

In [6]:
re.findall('p','pythonworkshop')

['p', 'p']

In [7]:
re.search('z','pythonworkshop')

In [8]:
re.search('p','workshop')

In [9]:
re.match('p','python')

In [11]:
re.match('pyt','python')

In [13]:
re.match('python','python')