In [1]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [2]:
li=[2,6,9,20,'apple']
li1=['dhna','vasavi',56.8,76,9,66]
li2=[44,4,25,'abc']
print(li)
print(li1)
print(li2)

[2, 6, 9, 20, 'apple']
['dhna', 'vasavi', 56.8, 76, 9, 66]
[44, 4, 25, 'abc']

In [3]:
# append-we will add only sing value
# extend-we will add more than one value using extend
print(li)

[2, 6, 9, 20, 'apple']

In [5]:
li.append(55)
li

[2, 6, 9, 20, 'apple', 55, 55]

In [7]:
li.extend([1,2,3])
li

[2, 6, 9, 20, 'apple', 55, 55, 1, 2, 3]

In [8]:
li=[1,2,3,4,5,6,7,8,]
li.pop()
print(li)

[1, 2, 3, 4, 5, 6, 7]

In [10]:
li.reverse()
print(li)

[7, 6, 5, 4, 3, 2, 1]

In [11]:
li.sort()
print(li)

[1, 2, 3, 4, 5, 6, 7]

In [12]:
li=[2,1,6,3,4,7]
li.sort()
print(li)

[1, 2, 3, 4, 6, 7]

In [15]:
li=[1,2,3,4,5]
li.insert(3,'six')
li

[1, 2, 3, 'six', 4, 5]

In [16]:
# 0to10
# program
# print even number
# print odd number
# print result(total numbers(0to10)
even=[]
odd=[]
for i in range(0,11):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)
print(even+odd)

[0, 2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

In [20]:
# print max number in the list
li=[34,78,37,90,204,400,45,567]
max=0
for i in li:
    if i>=max:
        max=i
print("max number:",max)

max number: 567

## Tuple
- tuple repesented with()

In [21]:
t=(1,2,3,4)

In [22]:
print(type(t))

<class 'tuple'>

In [23]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [27]:
t.count(2)

1

In [25]:
t.index(2)

1

## Set
- set is represented with {}

In [29]:
s={1,2,5,68,9,60}
print(type(s))

<class 'set'>

In [30]:
li=[2,4,7,9,30]
t=(3,5,7,3,4)
s={3,6,80,20}
type(li)

list

In [31]:
type(t)

tuple

In [33]:
type(s)

set

In [34]:
print("length of list:",len(li))
print("length of tuple:",len(t))
print("lrngth of set:",len(s))

length of list: 5
length of tuple: 5
lrngth of set: 4

In [35]:
print(s)

{80, 3, 20, 6}

In [36]:
print(li)

[2, 4, 7, 9, 30]

In [37]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [47]:
s={'fox','cat','peacock','lion','dog'}
s

{'cat', 'dog', 'fox', 'lion', 'peacock'}

In [41]:
s.add('tiger')
s

{'cat', 'dog', 'fox', 'lion', 'peacock', 'tiger'}

In [43]:
# update-to add multiple elements at a time in a set
s.update((1,2,3,4))
print(s)

{1, 2, 3, 'tiger', 4, 'fox', 'cat', 'peacock', 'lion', 'dog'}

In [44]:
s.update([5,6,7,8])
print(s)

{1, 2, 3, 'tiger', 4, 5, 6, 'fox', 'cat', 7, 8, 'peacock', 'lion', 'dog'}

# deletion
    - clear()- to clear the all data
    - remove()-it is used to remove a particular value
    - discard()-it is also used to discard a particular value
    - pop- to delete random elements

In [4]:
s={'fox','cat','peacock','lion','dog'}
print(s)

{'dog', 'cat', 'peacock', 'lion', 'fox'}

In [5]:
s.remove(('cat'))
s

{'dog', 'fox', 'lion', 'peacock'}

In [6]:
s.discard('lion')
s

{'dog', 'fox', 'peacock'}

In [8]:
s.pop()
s

{'fox', 'peacock'}

In [10]:
s.clear()
s

set()

## set operations
- union:combination all elements from two sets
- Intersection:common elements from two set
- Difference:all the remaining elements from a set after removing common elements
- Symetric-Difference:uncommon elements from both sets

In [11]:
a={2,5,7,9,4,9,8}
b={4,7,9,3,1,10,5}
print(a)

{2, 4, 5, 7, 8, 9}

In [12]:
print(b)

{1, 3, 4, 5, 7, 9, 10}

In [13]:
print(a.union(b))

{1, 2, 3, 4, 5, 7, 8, 9, 10}

In [15]:
print(a.intersection(b))

{9, 4, 5, 7}

In [16]:
print(a.difference(b))

{8, 2}

In [18]:
print(b.difference(a))

{1, 10, 3}

In [20]:
print(a.symmetric_difference(b))

{1, 2, 3, 8, 10}

In [22]:
a={2,4,6,8}
a1=a.copy()
a1

{2, 4, 6, 8}

In [24]:
m={1,2,3,4,5,6}
n={3,6}
print(n.issubset(m))
print(m.issuperset(n))

True
True

In [26]:
l={4,5,6,7}
p={1,2,3}
l.isdisjoint(p)

True

In [30]:
p={10,20,30,40}
q={40,50,60,70}
print(p.difference_update(q))

None

In [32]:
print(p)
print(q)

{10, 20, 30}
{40, 50, 60, 70}

## Dictionaries
- Dictionary is a unordered coolection of items
- Each item of a dictionary has a key and value pair:::(key:valuie)
- Dictionary is mutable and changeble
- In python dictionary written in {}
- Keys are not allowed duplicate values
- Values are allowed to duplicate values
- Entire dictionary depending upon key
    - Keys are unique in nature
    - Keys can be written in any data type
- Value maybe similar to values,mentioned as any datatype
- Key and value together called as a item
- In dictionay indexing is not supported

In [33]:
d={}
print(type(d))

<class 'dict'>

In [35]:
d={34:45,68:90,56:34}# key can't mention duplication
d

{34: 45, 68: 90, 56: 34}

In [36]:
print(sum(d))
print(max(d))
print(min(d))
print(len(d))
print(sorted(d))

158
68
34
3
[34, 56, 68]

In [37]:
d[56]

34

In [39]:
d1={23:67,36:12,67:123,45:78,34:{34,78,90}}
print(d1)

{23: 67, 36: 12, 67: 123, 45: 78, 34: {34, 90, 78}}

In [40]:
d1[34]

{34, 78, 90}

In [41]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [42]:
d1.get(34)

{34, 78, 90}

In [43]:
d1.keys()

dict_keys([23, 36, 67, 45, 34])

In [44]:
d1.values()

dict_values([67, 12, 123, 78, {34, 90, 78}])

In [45]:
d1.items()

dict_items([(23, 67), (36, 12), (67, 123), (45, 78), (34, {34, 90, 78})])

In [46]:
d1['python']="workshop"
d1

{23: 67, 36: 12, 67: 123, 45: 78, 34: {34, 78, 90}, 'python': 'workshop'}

In [47]:
d1.pop(23)

67

In [48]:
print(d1)

{36: 12, 67: 123, 45: 78, 34: {34, 90, 78}, 'python': 'workshop'}

In [49]:
d1.popitem()

('python', 'workshop')

In [50]:
d1

{36: 12, 67: 123, 45: 78, 34: {34, 78, 90}}

In [51]:
d2=d1.copy()
print(d2)
print(d1)

{36: 12, 67: 123, 45: 78, 34: {34, 90, 78}}
{36: 12, 67: 123, 45: 78, 34: {34, 90, 78}}

In [54]:
d2.fromkeys("work")

{'w': None, 'o': None, 'r': None, 'k': None}

In [55]:
d2.fromkeys("pyth",42)

{'p': 42, 'y': 42, 't': 42, 'h': 42}

In [56]:
d2.update({'dhana':'jyothi'})
d2

{36: 12, 67: 123, 45: 78, 34: {34, 78, 90}, 'dhana': 'jyothi'}

In [61]:
d2.setdefault(36)

12

In [59]:
d2

{36: 12, 67: 123, 45: 78, 34: {34, 78, 90}, 'dhana': 'jyothi'}

In [63]:
d2.clear()
d2

{}